@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

footer {
  position: relative;
  left: 125px;
  padding: 35px;
  justify-content: center;
}

large-font {
  font-size: medium;
}